<!DOCTYPE html>
<html>
<head>
    <title>History</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<nav>📜 Booking History</nav>

<div class="container">

<h2>Food Request History</h2>

<table>
    <tr>
        <th>Hotel / Donor</th>
        <th>NGO</th>
        <th>Time</th>
    </tr>

    {% for h in data %}
    <tr>
        <td>{{h[0]}}</td>
        <td>{{h[1]}}</td>
        <td>{{h[2]}}</td>
    </tr>
    {% endfor %}

</table>

<br>
<a href="/dashboard">⬅ Back to Dashboard</a>

</div>

</body>
</html>